<div class="col s6">
		<ul class="collection with-header z-depth-2">
			<li class="collection-header grey"> <h5> Equipo 1 </h5> </li>
			
		</ul>
</div>	

<div class="col s6">
	<ul class="collection with-header z-depth-2">
		<li class="collection-header grey"> <h5> Equipo 2 </h5> </li>
	</ul>
</div>